@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #C4421A, #F98F45);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(28, 110, 97, 0.635);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #12908E;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(34, 219, 216, 0.596);
}

h2 {
    color: #97CECC;
}

p {
    text-align: justify;
}