body {
    width: 500px;
    margin: 0 auto;
}

p {
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Posição relativa */
.positioned {
    position: relative;
    background: rgba(255, 84, 104, .3);
    border: 2px solid rgb(255, 84, 104);
    top: 30px;
    left: 30px;
}

.position {
    position: absolute;
    background: rgba(255, 84, 104, .3);
    border: 2px solid rgb(255, 84, 104);
    top: 30px;
    left: 30px;
}

.fixed {
    position: fixed;
    top: 30px;
    left: 30px;
}

.sticky {
    position: sticky;
    top: 30px;
    left: 30px;
}