body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    /* column-count: 3; As colunas que você criar têm larguras flexíveis - o navegador calcula quanto espaço será atribuido a cada coluna. */

    column-width: 200px; /* navegador fornecerá o maior número possível de colunas, do tamanho que você especificar; qualquer espaço restante é compartilhado entre as colunas existentes */

    column-gap: 20px;
    column-rule: 4px dotted rgb(79, 185, 227);
}