<form (ngSubmit) = "addTask(newTask.value)">
  <input type="text" placeholder="Digite o nome da tarefa" #newTask>
  <button type="submit">Adicionar</button>
</form>

<ol>
  <li **ngFor="let task of tasks">
    <input type="checkbox" [checked]="task.completed" (change)="completeTask(task)">
    {{ task.name }}
    <button (click)="removeTask(task)">Excluir</button>
  </li>
</ol>

<p>Tarefas concluídas: {{ tasks | filter:task => task.completed | length }}</p>
<p>Tarefas restantes: {{ tasks | filter:task => !task.completed | length }}</p>